<h2>Create a New Dinner!</h2>

<%= form_with(model: @dinner, local: true) do |form| %>
	<div class="field">
		<%= form.label :place %>
		<%= form.text_field :place %>
	</div>

	<div class="field">
		<%= form.label :time %>
		<%= form.datetime_select :time %>
	</div>

	<div class="field">
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div class="field">
		<%= form.label :cost %>
		<%= form.number_field :cost %>
	</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



