
<div class="container">
	<h2 class="text-center">Create a New Dinner!</h2>
	
	<%= form_with(model: @dinner, local: true) do |f| %>
	<div class="form-group">
		<%= f.label :address %>
		<%= f.text_field :address, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :time %>
		<%= f.datetime_select :time, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :cost %>
		<%= f.number_field :cost, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :guest %>
		<%= f.number_field :guest, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :images %>
		<%= f.file_field :images, multiple: true, class: "form-control-file" %>
	</div>

	<div class="form-group">
		<%= f.label :category_ids %>
		<%= f.select :category_ids, Category.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>



