
<p>
  <strong>Address:</strong>
  <%= @dinner.address %>
</p>

<p>
  <strong>Time:</strong>
  <%= @dinner.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dinner.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @dinner.cost %>
</p>

<div class="pull-right">
	<%= link_to  guest_dinner_path(@dinner), method: :post do %>
    Join the party!
	<% end %>
</div>

<%= render partial: "reviews/reviews", locals: {reviewable: @dinner} %>
<%= render partial: "reviews/form", locals: {reviewable: @dinner} %>

<%= link_to 'Edit', edit_dinner_path(@dinner) %> |
<%= link_to 'Back', dinners_path %>


<%= image_tag(@dinner.images[0].url) if @dinner.images? %>