<div class="container">
	<div class="row">
		<div class="col-md-4">
		<%= link_to dinner_path(@dinner.user) do %>
			<%= image_tag @dinner.user.avatar.url(:medium), class: "float rounded-circle"%>
			<p><h5>Brought to you by: <%= @dinner.user.name.capitalize %></h5></p>
		</div>
		<% end %>



	<div class="col-md-8">
	<p>
	  <h5>Address:</h5>
	  <%= @dinner.address %>
	</p>

	<p>
	  <h5>Time:</h5>
	  <%= @dinner.time %>
	</p>

	<p>
	  <h5>Description:</h5>
	  <%= @dinner.description %>
	</p>

	<p>
	  <h5>Cost:</h5>
	  <%= @dinner.cost %>
	</p>

	<p>
	  <h5>Hurry! Only <%= @dinner.guest %> places left!</h5>
	</p>

	<div class="pull-right">
		<% if @dinner.guest >= 0 %>
				<%= link_to  new_dinner_payment_path(@dinner) do %>
	  	  	<button type="button" class="btn btn-primary">Join the party!</button>
				<% end %>
			<% else %>
				<button type="button" class="btn btn-primary" disabled>All seats taken</button>
		<% end %>
	</div>

	</div>

	</div>
	<%= render partial: "reviews/reviews", locals: {reviewable: @dinner} %>
	<%= render partial: "reviews/form", locals: {reviewable: @dinner} %>

	<%= link_to 'Edit', edit_dinner_path(@dinner) %> |
	<%= link_to 'Back', dinners_path %>

	<br>
	<%= image_tag(@dinner.images[0].url(:showcase)) if @dinner.images? %>
	<br>
	<div>
		<% if Guest.where(:dinner_id => @dinner.id).any?  %>
			<h2>People who already have a reservation:</h2>
				<% Guest.where(:dinner_id => @dinner.id).each do |f| %>
					<li><%= f.user.name.capitalize %></li> 
				<% end %>
		<% end %>
	</div>


</div>
